<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/board/add.css">
  <title>게시판 작성</title>
</head>
<body>
<div class="wrap">
  <div class="header"><h3>게시글 작성</h3></div>
  <form id="frm" class="frm" action="/boards/add" method="post" th:object="${addForm}">
    <div class="title">
      <label for="title">제목</label>
      <input id="title" name="title" type="text" th:value="*{title}">
      <span class="err-msg" th:if="${s_err_title != ''}" th:class="'err-msg on'" th:text="${s_err_title}"></span>
    </div>
    <div class="bname">
      <label for="bname">작성자</label>
      <input id="bname" name="bname" type="text" th:value="${session.loginMember.email}" readonly>
      <input type="hidden" name="memberId" th:value="${session.loginMember.memberId}">
<!--      <span class="err-msg" id="errBname"></span>-->
<!--      <span class="err-msg" th:if="${s_err_bname != ''}" th:class="'err-msg on'" th:text="${s_err_bname}"></span>-->
    </div>
    <div class="userContent">
      <label for="userContent"></label>
      <textarea id="userContent" name="userContent" th:value="*{userContent}"></textarea>
      <span class="err-msg" id="errContent"></span>
      <span class="err-msg" th:if="${s_err_userContent != ''}" th:class="'err-msg on'" th:text="${s_err_userContent}"></span>
    </div>
    <div class="btns">
      <input type="reset" value="취소">
      <input type="submit" value="저장">
      <input type="button" value="목록" onclick="location.href='/boards'">
    </div>
  </form>
</div>
</body>
</html>