<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/board/detail.css">
  <link rel="stylesheet" href="/css/comments/comments.css">
  <script src="/js/board/detail.js" async></script>
  <title>게시판조회</title>
</head>
<body>
<div class="container">
  <h3 class="header">게시글조회</h3>
  <div class="content">
    <form class="frm" action="#" method="post">
      <div class="boardId">
        <label for="boardId">게시글번호</label>
        <input id="boardId" type="text" th:value="${board.boardId}" readonly>
      </div>
      <div class="title">
        <label for="title">제목</label>
        <input id="title" name="title" type="text" th:value="${board.title}" readonly>
      </div>
      <div class="bname">
        <label for="bname">작성자</label>
        <input id="bname" name="bname" type="text" th:value="${board.bname}" readonly>
      </div>
      <div>
        <label>등록일</label>
        <span th:text="${#temporals.format(board.cdate, 'yyyy-MM-dd a HH:mm')}"></span>
      </div>
      <div class="userContent">
        <label for="userContent"></label>
        <textarea id="userContent" name="userContent" th:text="${board.userContent}" readonly></textarea>
      </div>
      <div class="btns">
        <input id="modifyBtn" type="button" value="수정">
        <input id="deleteBtn" type="button" value="삭제">
        <input id="listBtn" type="button" value="목록">
      </div>
    </form>
  </div>
  <div class="bottom">
    <form id="commentForm">
      <div>
        <label for="userComment"></label><input id="userComment" name="userComment" type="text" placeholder="댓글을 입력해보세요.">
        <button id="addBtn" type='button'>등록</button>
      </div>
    </form>
    <div id="replyList"></div>
    <div id="pagination"></div>
  </div>
</div>
  <dialog id="delModal">
    <p>삭제하시겠습니까?</p>
    <form action="" method="dialog">
      <button id="cancelBtn">취소</button>
      <button id="delItemBtn">삭제</button>
    </form>
  </dialog>
  <script th:inline="javascript">
    const memberId = [[${session.loginMember.memberId}]];
    const originalId = [[${board.boardId}]]
    const memberEmail = [[${session.loginMember.email}]]
    const memberNickname = [[${session.loginMember.nickname}]]
  </script>
  <script type="module" src = "/js/comments/comments.js" async></script>
</body>
</html>