<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/board/detail.css">
  <script src="/js/board/detail.js" async></script>
  <title>게시판조회</title>
</head>
<body>
<div id="container">
  <div class="wrap">
    <h3 class="header">게시글조회</h3>
    <form class="frm" action="#" method="post">
      <div class="boardId">
        <label for="boardId">게시글번호</label>
        <input id="boardId" type="text" th:value="${board.boardId}" readonly>
      </div>
      <div class="title">
        <label for="title">제목</label>
        <input id="title" name="title" type="text" th:value="${board.title}" readonly>
      </div>
      <div class="bname">
        <label for="bname">작성자</label>
        <input id="bname" name="bname" type="text" th:value="${board.bname}" readonly>
      </div>
      <div>
        <label>등록일</label>
        <span th:text="${#temporals.format(board.cdate, 'yyyy-MM-dd a HH:mm')}"></span>
      </div>
      <div class="userContent">
        <label for="userContent"></label>
        <textarea id="userContent" name="userContent" th:text="${board.userContent}" readonly></textarea>
      </div>
      <div class="btns">
        <input id="modifyBtn" type="button" value="수정">
        <input id="deleteBtn" type="button" value="삭제">
        <input id="listBtn" type="button" value="목록">
      </div>
    </form>
  </div>
  <div>
    <form id="commentForm">
      <div>
        <label for="userComment">댓글</label><input id="userComment" name="userComment" type="text">
        <button id="addBtn" type='button'>등록</button>
      </div>
    </form>
  </div>
  <div id="replyList"></div>
</div>
  <dialog id="delModal">
    <p>삭제하시겠습니까?</p>
    <form action="" method="dialog">
      <button id="cancelBtn">취소</button>
      <button id="delItemBtn">삭제</button>
    </form>
  </dialog>
  <script th:inline="javascript">
    const memberId = [[${session.loginMember.memberId}]];
    const originalId = [[${board.boardId}]]
    const memberEmail = [[${session.loginMember.email}]]
    const memberNickname = [[${session.loginMember.nickname}]]
  </script>
  <script type="module" src = "/js/comments/comments.js" async>
<!--    console.log(memberId, boardId, memberEmail, memberNickname);-->

<!--    const $addBtn = document.querySelector('#addBtn');-->
<!--    $addBtn.addEventListener('click',evt=>{-->
<!--        console.log('등록')-->
<!--        const formData = new FormData(document.querySelector('#commentForm'));-->
<!--        const comments = {-->
<!--          boardId : originalId,-->
<!--          cname : memberNickname,-->
<!--          userComment : formData.get('userComment')-->
<!--        }-->
<!--        add(comments);-->
<!--    });-->


<!--  //등록-->
<!--  async function add(comments) {-->
<!--    const url = `http://localhost:9080/api/boards`;-->
<!--    const payload = comments;-->
<!--    const option = {-->
<!--      method: 'POST',-->
<!--      headers: {-->
<!--        'Content-Type': 'application/json',-->
<!--        accept: 'application/json',-->
<!--      },-->
<!--      body: JSON.stringify(payload),   // js객체=>json포맷 문자열-->
<!--    };-->
<!--    try {-->
<!--      const res = await fetch(url, option);-->
<!--      if (!res.ok) return new Error('서버응답오류');-->
<!--      const result = await res.json(); //응답메세지 바디를 읽어 json포맷 문자열=>js객체-->
<!--      if (result.header.rtcd == '00') {-->
<!--        console.log(result.body);-->
<!--        list();-->
<!--      } else {-->
<!--        new Error('등록 실패!');-->
<!--      }-->
<!--    } catch (err) {-->
<!--      console.error(err.message);-->
<!--    }-->
<!--  }-->
  </script>
</body>
</html>